/* app css stylesheet */

:root {
    --primary-bg: #8d8d8d; /* --paper-grey-600 */
    --primary-fg: #efefef; /* --paper-grey-200 */

    --magic-num: 8px;
}

/* New */

html, body {
    height: 100%;
    width: 100%;
    bottom: 0;
    margin: 0;
    position: absolute;
    background-color: var(--primary-fg);
    font-family: 'Roboto', sans-serif;
}

.root-display {
    height: 100%;
    width: 100%;
}

.root-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.root-container .root-header {
    flex: 0 1 calc(var(--magic-num) * 8);
    border-bottom: black solid 1px;
    z-index: 1;
}

.root-container .root-header sw4p-header a, .root-container .root-header sw4p-header a sw4p-button {
    height: 100%;
    margin: 0;
}

.projects-container {
    max-width: 60%;
    display: block;
    margin: auto;
    background-color: var(--primary-fg);
}

.projects-container github-repository {
    margin: var(--magic-num);
}

.root-container .root-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    overflow-y: auto;
    height: 100%;
}

.root-container .root-footer {
    flex: 0 1 calc(var(--magic-num) * 4);
    background-color: black;
    color: white;
}

.json-editor-container, .json-editor-container .right {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.json-editor-container .right {
    flex-flow: column;
}


.json-editor-container .right, .json-editor-container .left {
    flex: 1 1 auto;
    max-width: 50%;
    height: 100%;
}

.json-editor-container .right .buttons{
    flex: 0 1 20%;
    margin: 16px;
}

.json-editor-container .right .display, .json-editor-container .right .minified{
    flex: 1 1 auto;
    width: 90%;
}